<hibernate-configuration>
    <session-factory>
        <!-- Driver na nějakou DB, jedeme přes JDBC -->
        <property name = "hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name = "hibernate.connection.url">jdbc:mysql://localhost:3306/issdb2</property>

        <!-- Use environment variables for username and password -->
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">rootroot</property>

        <property name = "hibernate.show_sql">false</property>
        <property name = "hibernate.hbm2ddl.auto">create-drop</property>
    </session-factory>
</hibernate-configuration>